<!-- Anki Prettify: Cloze (back) -->

<div class="prettify-flashcard">
    <div class="prettify-deck">{{Deck}}</div>
    <div class="prettify-field prettify-field--front">{{edit:cloze:Text}}</div>
    <div class="prettify-divider prettify-divider--answer"></div>
    {{#Back Extra}}
    <div class="prettify-field prettify-field--back">{{Back Extra}}</div>
    {{/Back Extra}} {{#Tags}}
    <div class="prettify-tags">{{clickable:Tags}}</div>
    {{/Tags}}
</div>

<script type="text/javascript" src="_MDKaTeX.js"></script>
<script type="text/javascript" src="_prettify.js"></script>
