@use "sass:color";

//Catppuccin color palette
@use "catppuccin" with (
  // base
  $background: #24273a,
  // surface1
  $currentline: #494d64,
  // text
  $foreground: #cad3f5,
  // surface2
  $comment: #5b6078,
  // sky
  $cyan: #91d7e3,
  $green: #a6da95,
  // peach
  $orange: #f5a97f,
  $pink: #f5bde6,
  // mauve
  $purple: #c6a0f6,
  $red: #ed8796,
  $yellow: #eed49f
);
