@use 'sass:color';

//Catppuccin color palette
@use 'base' with ($background: #24273a, // base
  $currentline: #494d64, // surface1
  $foreground: #cad3f5, // text
  $comment: #5b6078, // surface2
  $cyan: #91d7e3, // sky
  $green: #a6da95,
  $orange: #f5a97f, // peach
  $pink: #f5bde6,
  $purple: #c6a0f6, // mauve
  $red: #ed8796,
  $yellow: #eed49f,
);
